@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$circle-color: purple;

*{
  color: rgb(255, 255, 255);
  font-family: 'Calibri', sans-serif;
}
h3{
  color: rgb(255, 255, 255);
  font-family: 'Calibri', sans-serif;
}
html{
  background-color: rgb(26, 26, 26);
}
p {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.5rem;
}
button {
  // background-color: rgb(26, 26, 26);
  border: 2px solid white;
  background-color: rgb(26, 26, 26);
  border-radius: 5px;
  color: white;
  padding: 7px 14px;
  font-size: 16px;
  cursor: pointer;
}
select{
  color: black;
}
option{
  color: black;
}
button:hover {
  background: #e7e7e7;
  color: black;
}
#buttonDiv{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
h4 {
  margin-left: 1%;
  margin-top: 2%;
  color: #932af5;
  font-size: 2em;
}
button + h3 {
  margin-left: 1%;
  color: #932af5;
  font-size: 2em;
}
#sidebar {
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  height: 100%;
  border: 5px solid lightgray;
  box-shadow: 1px 1px 5px rgba(114, 113, 113, 0.915);
  font-family: 'Calibri', sans-serif;
}
.header{
  display:flex;
  justify-content: center;
  align-items: center;
}
.nodeSchedulerHeader{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#circle {
  display:flex;
  align-items: center;
  justify-content: space-around;
}

#pageView {
  display: flex;
  flex-direction: row;
  #pageCol{
    display: flex;
    flex-direction: column;
  }
}
#nodeSidebar{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li .link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.loader {
  position: relative;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20%;
  .text{
    padding: 5%;
  }
  // border-style: solid;
  // border-color: gray;
  // border-width: 1px;
  // border-radius: 2px;
}
.outer,
.middle,
.inner {
  border: 3px solid transparent;
  border-top-color: $circle-color;
  border-right-color: $circle-color;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}
.cytoContainer{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.outer {
  width: 3.5em;
  height: 3.5em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: spin 2s linear infinite;
}

.middle {
  width: 2.1em;
  height: 2.1em;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: spin 1.75s linear reverse infinite;
}

.inner {
  width: 0.8em;
  height: 0.8em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
